body {
    padding: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
button {
    border: none;
    cursor: pointer;
    background-color: white;
}
/* FISHBOWL */
#fish-header{
    position: absolute;
    top: 0;
    z-index: 1;
}
#fish {
    position: absolute;
    bottom: 80px;
    right: 70px;
    background-image: url(fish.svg);
    background-repeat: no-repeat;
    padding: 50px;
    transition: all 2s ease-in-out;
}
#fish-bowl {
    position: relative;
    background-image: linear-gradient(white 40%, rgb(135, 164, 189));
    height: 250px;
    width: 280px;
    border-radius: 100%;
    margin: 20px;
}
#fish-bowl:hover {
    background-image: linear-gradient(white 40%, rgb(139, 189, 135));
}
#bowl-detail {
    padding: 20px 40px;
    margin: -68px auto;
    border-radius: 100%;
    background-color: rgba(135, 164, 189, 0.116);
    border: 1px solid rgba(114, 118, 121, 0.178);
}
.round-motion {
    offset-path: path("M -80,-70 A 1,1 0 0 0 114,76 A 1,1 0 0 0 -80,-70");
    animation: round-motion 5s linear infinite;
  }
@keyframes round-motion {
    100% {
      offset-distance: 100%;
    }
}

/* ROBOT */
/* HEAD */
.head {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(16, 78, 133);
    background-image: radial-gradient(rgb(16, 78, 133) 50%, black);
    width: fit-content;
    margin: 0 auto;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
}
.eye-right, .eye-left {
    background-image: radial-gradient(grey, black);
    border-radius: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    margin: 16px;
}
.pupil-right, .pupil-left {
    background-color: black;
    padding: 8px;
    border-radius: 100%;
}
.neck {
    background-color: black;
    margin: 0 auto;
    padding: 15px;
    width: 10px;
}
/* TORSO */
.torso {
    position: relative;
    background-image: radial-gradient(rgb(16, 78, 133) 50%, black);
    padding: 40px;
    border-radius: 30px;
    border-top: 2px solid black;
    border-bottom: 5px solid black;
    width: fit-content;
    margin: 0 auto;
    z-index: 1;
}
.torso-screen {
    background-image: radial-gradient(grey, black);
    border-radius: 10px;
    height: 100px;
    width: 150px;
    border: solid 3px black;
}
.message {
    color: white;
}
/* HANDS */
.hands {
    display: flex;
    top: 0;
    left: -50%;
}
.hand-left, .hand-right {
    background-image: radial-gradient(rgb(16, 78, 133) 10%, black);
    padding: 15px 100px;
}
.hand-left {
    border-radius: 5px 0 0 5px;
    border-right: 5px dashed black;
    border-left: 5px solid black;
    transition: all 2s ease-in-out;
}
.hand-right {
    border-radius: 0 5px 5px 0;
    border-left: 5px dashed black;
    border-right: 5px solid black;
    transition: all 4s ease-in-out;
}
/* WEEL */
.weel {
    margin: -10px auto;
    background-color: grey;
    background-image: radial-gradient(grey, black, black, grey, grey, black, grey, grey);
    border: dashed 9px rgb(37, 37, 37);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    transition: all 10s ease-in-out;
}
#weel-outer {
    transition: all 10s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weel-inner {
    background-image: radial-gradient(grey, black);
    border: dashed 5px black;
    padding: 10px;
}
.weel-rotate {
    animation: rotate 2s linear infinite;
    transform: rotate(360deg);
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}